PRODUCT PAGE 
/* Global styles */
/*body {
  margin: 0;
  padding: 0;
 
}

/* Header styles */
/header {
  background-color: #eeeeee;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main section styles*/
.Product-Page{
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  font-family: 'roboto',sans-serif;
}

/* Phone section styles */
section {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

/* Phone image styles */
img {
  display: block;
  width: 100%;
  height: auto;

}
/* Price description styles */
.description {
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  color:#332626; 
}
/* Phone description styles */
.Product-Page p {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  color:#d11b1b; 
}

/* Buy button styles */
button {
  display: block;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #c59797;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}


